@font-face {
	font-family: "Myriad Pro";
	src: url(../fonts/MyriadPro-Regular.woff);
	font-weight: 400;
}

@font-face {
	font-family: "Myriad Pro";
	src: url(../fonts/MyriadPro-Bold.woff);
	font-weight: 700;
}

@font-face {
	font-family: IBMPlexMono;
	src: url(../fonts/IBMPlexMono-Bold.woff);
	font-weight: 700;
}



/* reset */

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

nav,
footer,
header,
aside,
main,
section {
	display: block;
}

/* крестик в IE */
input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	background-color: transparent;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

a,
button {
	color: inherit;
}

button:focus,
a:focus {
	box-shadow: 0 0 0 3px lightskyblue;
}

input:focus {
	box-shadow: 0 0 0 3px #f2f5f8;
	background-color: #ffffff;
}

html {
	height: 100%;
	width: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
}

body {
	height: 100%;
	width: 100%;
	font-family: "Myriad Pro", "Arial", sans-serif;
	font-size: 16px;
	color: #383636;
	line-height: 1.375;
}

body.lock {
	overflow: hidden;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.img_cover {
	position: absolute;
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	font-family: 'object-fit: cover;';
}

.main {
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
}

@media (min-width: 768px) {
	.main {
		margin-top: 100px;
	}
}

.bold {
	font-weight: 700;
}

.title_1,
.title_2,
.title_3 {
	font-family: "Century Gothic";
	font-weight: 700;
}

.title_1 {
	margin-bottom: 10px;
	font-size: 60px;
	line-height: 1.2;
	text-align: center;
}

@media (min-width: 768px) {
	.title_1 {
		font-size: 73px;
	}
}

@media (min-width: 1200px) {
	.title_1 {
		font-size: 110px;
	}

}

.title_2 {
	font-size: 40px;
	line-height: 1;
}

@media (min-width: 768px) {
	.title_2 {
		font-size: 60px;
	}
}

@media (min-width: 1200px) {
	.title_2 {
		font-size: 80px;
	}
}

.title_3 {
	font-size: 40px;
}


.btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 230px;
	height: 52px;
	letter-spacing: .2em;
	border: 1px solid #000;
}

.btn::before {
	content: " ";
	position: absolute;
	top: -20px;
	left: -20px;
	width: 20px;
	height: 80px;
	background-image: url(../img/left.png);
}

.btn::after {
	content: " ";
	position: absolute;
	top: -10px;
	right: -21px;
	width: 21px;
	height: 80px;
	background-image: url(../img/right.png);
}

.btn_w {
	color: #000;
	background-color: #fff;
}

.btn_w:hover {
	color: #fff;
	background-color: #373636;
}

.btn_b {
	color: #fff;
	background-color: #373636;
}

.btn_b:hover {
	color: #000;
	background-color: #fff;
}


/* ===== head ===== */


.head {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	border-bottom: 1px solid #000;
	background-color: #e6e6e6;
}

.head::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #000;
	background-color: #e6e6e6;
	z-index: 2;
}

.head__content {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}

@media (min-width: 768px) {
	.head__content {
		height: 100px;
	}

	.head::before {
		background-color: #fff;
	}
}

.logo {
	position: relative;
	z-index: 3;
	flex: 0 0 40px;
}

@media (min-width: 768px) {
	.logo {
		flex: 0 0 57px;
	}
}

.logo__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.head__tel {
	position: relative;
	z-index: 3;
	display: none;
	margin-right: auto;
	margin-left: 60px;
	font-size: 18px;
}

.head__tel li:not(:first-child) {
	margin-left: 50px;
}

.head__tel span {
	font-size: 16px;
	font-weight: 700;
}

@media (min-width: 1200px) {
	.head__tel {
		display: flex;
	}
}


/* ===== burger ====== */

.nav__burger {
	position: relative;
	display: block;
	width: 30px;
	height: 20px;
	z-index: 3;
}

@media (min-width: 768px) {
	.nav__burger {
		display: none;
	}
}

.nav__burger::before,
.nav__burger::after {
	content: '';
	background-color: #000;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transition: .3s ease 0s;
}

.nav__burger::before {
	top: 0;
}

.nav__burger::after {
	bottom: 0;
}

.nav__burger.active::before {
	top: 9px;
	transform: rotate(45deg);
}

.nav__burger.active::after {
	bottom: 9px;
	transform: rotate(-45deg);
}

.nav__burger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	top: 9px;
	background-color: #000;
	transition: .3s ease 0s;
}

.nav__burger.active span {
	transform: scale(0);
}


/* ======= menu ======== */

.nav {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	/* height: 100%; */
	padding: 70px 20px 30px 20px;
	background-color: #fff;
	overflow: auto;
	border-bottom: 1px solid #000;
	transition: top .3s ease 0s;
}

.nav.active {
	top: 0;
}

.nav ul {
	position: relative;
	z-index: 2;
}

.nav li {
	/* margin-bottom: 20px; */
}

.nav a {
	padding: 10px 0;
	font-size: 22px;
	font-weight: 700;
	/* color: #fff; */
}



/*плавная подчёрк. линия центр*/
.nav a {
	position: relative;
	display: inline-block;
}

.nav a:after {
	content: "";
	position: absolute;
	left: 50%;
	display: block;
	height: 1px;
	width: 0%;
	background-color: #000;
	transition: width .3s ease-in-out;
	transform: translate(-50%, 7px);
}


@media (pointer: fine),
(min-width:0\0) {
	.nav a:hover::after {
		width: 100%;
	}
}

.nav a:active::after {
	transform: translate(-50%, 0px);
}

.div__swipe {
	margin-left: auto;
	margin-right: auto;
	width: 80px;
	height: 2px;
	background-color: #90a8be;
}

@media (min-width: 768px) {
	.nav {
		position: static;
		width: auto;
		height: auto;
		padding: 0;
		overflow: hidden;
	}

	.nav ul {
		display: flex;
	}

	.nav li {
		margin-left: 30px;
		margin-bottom: 0;
	}

	.nav a {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	.nav li {
		margin-left: 50px;
	}
}





/* baner */

.baner {
	padding: 40px 0;
}

.baner__row {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.baner__subtitle {
	margin-bottom: 10px;
	font-weight: 700;
	word-spacing: 0.9em;
	letter-spacing: 0.125em;
	text-align: center;
}

@media (min-width: 1200px) {
	.baner {
		padding: 100px 0;
	}

	.baner__row {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding-right: 70px;
	}

	.baner__subtitle {
		font-size: 24px;
	}
}

.btn_register {
	margin-top: 27px;
	margin-bottom: 40px;
}




/* news slider */

.news {
	padding-bottom: 80px;
}

@media (min-width: 768px) {
	.news {
		padding-bottom: 160px;
	}
}

@media (min-width: 1200px) {
	.news {
		padding-bottom: 180px;
	}
}

.swiper_btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.pagination {
	text-align: center;
}

@media (min-width: 768px) {
	.news__row {
		padding-right: 70px;
		position: relative;
	}

	.swiper_btn {
		display: block;
		margin-top: 0;
	}

	.news__swiper_btn {
		position: absolute;
		z-index: 2;
		top: 30%;
		right: 15px;
		display: block;
	}

	.news__swiper_pagination {
		display: none;
	}

}



.btn_prev,
.btn_next {
	display: block;
	width: 50px;
	height: 50px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: center;
	transition: .2s ease 0s;
}

@media (min-width: 768px) {

	.btn_prev,
	.btn_next {
		width: 100px;
		height: 50px;
		background-size: 52px;
		background-position: center;
	}
}

.btn_prev {
	background-image: url('../img/prev.png');

}

.btn_next {
	background-image: url('../img/next.png');
}

@media (pointer: fine),
(min-width:0\0) {

	.btn_next:hover,
	.btn_prev:hover {
		background-color: #dfdfdf;
	}
}

.btn_next:active,
.btn_prev:active {
	background-color: #a3a3a3;
}


.news__slide {
	padding-top: 20px;
}

.news__wrap_img {
	position: relative;
	padding-bottom: 140%;
	margin-bottom: 15px;
	border: 1px solid transparent;
	transition: 100ms 900ms;
}


/* line hover */
.news__wrap_img:hover {
	border-color: #000;
	transition: 10ms;
}

.news__wrap_img::before {
	content: " ";
	position: absolute;
	bottom: 100%;
	left: -1px;
	width: 1px;
	height: 0px;
	background-color: #000;
	transition: .9s;
}

.news__wrap_img:hover::before {
	height: 20px;
}

.news__wrap_img::after {
	content: " ";
	position: absolute;
	top: 100%;
	right: -1px;
	width: 1px;
	height: 0px;
	background-color: #000;
	transition: .9s;
}

.news__wrap_img:hover::after {
	height: 20px;
}


.news__date {
	margin-bottom: 15px;
	opacity: 0.4;
}

.news__text {
	font-weight: 700;
}




/* creativ */

.creativ {
	margin-bottom: 80px;
}

@media (min-width: 768px) {
	.creativ {
		margin-bottom: 160px;
	}
}

@media (min-width: 1200px) {
	.creativ {
		margin-bottom: 180px;
	}
}

.creativ__row {
	display: flex;
	flex-wrap: wrap;
	/* margin-top: 100px; */
}

.creativ__item {
	padding: 0;
}

.creativ__item>div {
	position: relative;
	padding-bottom: 60%;
	margin-bottom: 60px;
	background-position: center;
	background-size: cover;
}

@media (min-width: 768px) {
	.creativ__item:nth-child(-n+2)>div {
		padding-bottom: 40%;
	}
}

.creativ__item1 {
	background-image: url(../img/img_creativ1.jpg);

}

.creativ__item2 {
	background-image: url(../img/img_creativ2.jpg);
}

.creativ__item3 {
	background-image: url(../img/img_creativ3.jpg);
}

.creativ__item4 {
	background-image: url(../img/img_creativ6.jpg);
}

.creativ__item5 {
	background-image: url(../img/img_creativ5.jpg);
}

.creativ__item1:hover {
	background-image: url(../img/img_creativ4_hover.jpg);

}

.creativ__item2:hover {
	background-image: url(../img/img_creativ4_hover.jpg);
}

.creativ__item3:hover {
	background-image: url(../img/img_creativ4_hover.jpg);
}

.creativ__item4:hover {
	background-image: url(../img/img_creativ4_hover.jpg);
}

.creativ__item5:hover {
	background-image: url(../img/img_creativ4_hover.jpg);
}

.creativ__name {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
	width: 80%;
	padding: .8em;
	text-align: center;
	letter-spacing: 1px;
	background-color: #fff;
	border: 1px solid #000;
	transition: .1s ease 0s;
}

.creativ__name:hover {
	color: #fff;
	background-color: #373636;
}



/* ===== teach ===== */

.teach__title {
	align-self: center;
	font-family: "Century Gothic";
	font-size: 40px;
	font-weight: 700;
}

@media (min-width: 1200px) {
	.teach__title {
		font-size: 80px;
	}
}


.teach__img-wrap {
	position: relative;
	padding-bottom: 120%;
}



/* teach */

.teach__item {
	display: none;
}

.height {
	height: 250px;
}

.opacity {
	opacity: 1;
}

.display {
	display: block;
}

.teach-item__row {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}





/* ===== calendar ===== */

.calendar {
	display: none;
	margin-bottom: 80px;
}

.calendar__wrap {
	overflow: auto;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.calendar {
		display: block;
		margin-bottom: 160px;
	}
}

@media (min-width: 1200px) {
	.calendar {
		margin-bottom: 180px;
	}
}


#form {
	display: flex;
	flex-wrap: wrap;
	width: 1400px;
	margin-right: -10px;
	margin-left: -10px;
	margin-bottom: 20px;
}

@media (min-width: 1200px) {
	#form {
		width: 100%;
	}
}

select {
	width: 100%;
	height: 40px;
	border: 1px solid #000;
}

.col_days {
	margin-left: 4.16667%;
}

.col_styles {
	margin-left: 16.66667%;
}

.col_level {
	margin-left: 8.33333%;
}



/* ===== table ===== */

table {
	table-layout: fixed;
	width: 1400px;
	border-collapse: collapse;
	border: 2.0px solid #373636;
	border-radius: 5.0px;
}

@media (min-width: 1200px) {
	table {
		width: 100%;
	}
}

thead {
	color: #fff;
	text-align: left;
	font-weight: 700;
	background-color: #373636;
}

thead th:nth-child(1) {
	padding-left: 4.16667%;
	width: 16.66667%;
}


thead th:nth-child(2) {
	width: 8%;
}

thead th:nth-child(3) {
	width: 8%;
}

thead th:nth-child(4) {
	width: 12.5%;
}

thead th:nth-child(5) {
	width: 12.5%;
}

thead th:nth-child(6) {
	width: 20.83333%;
}

thead th:nth-child(7) {
	width: 12.5%;
}

thead th:nth-child(8) {
	width: 3.8%;
}

thead th:nth-child(9) {
	width: 3.8%;

}


tbody td:nth-child(1) {
	padding-left: 4.16667%;
}

tr {
	border-bottom: 2.0px solid #373636;
}

tr {
	border-bottom: 2.0px solid #373636;
}

@media (pointer: fine),
(min-width:0\0) {
	tr:hover {
		color: #ffffff;
		background-color: #373636;
	}
}

th,
td {
	padding: 18px 10px;
}



.calendar__col_more {
	text-align: center;
}

.btn__more {
	position: relative;
	width: 100px;
	height: 100px;
	color: #000;
}

.btn__more:hover {
	color: #fff;
}

.circle_icon {
	position: absolute;
	z-index: -1;
	top: 12px;
	left: 3px;
	width: 94px;
	height: 80px;
	stroke: #000;
	fill: transparent;
}

.btn__more:hover .circle_icon {
	stroke: #fff;
	fill: #000;
}

.btn__more.active .circle_icon {
	-webkit-animation: rotation 5s infinite linear;
	        animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}




/* shop */

.shop {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 300px;
	margin-bottom: 40px;
	background: url('../img/bg-shop.jpg') center/ cover;
}


@media (min-width: 768px) {
	.shop {
		height: 400px;
		margin-bottom: 100px;
	}
}

@media (min-width: 1200px) {
	.shop {
		height: 500px;
		margin-bottom: 150px;
	}
}

.shop__link {
	margin-top: 45px;
}




/* store-gallery */


.store {
	margin-bottom: 80px;
}

@media (min-width: 768px) {
	.store {
		margin-bottom: 160px;
	}
}

@media (min-width: 1200px) {
	.store {
		margin-bottom: 220px;
	}
}

.store__swiper {
	margin-left: -10px;
	margin-right: -10px;
}

.store__slide {
	padding-bottom: 20px;
}

.store__wrap_img {
	position: relative;
	padding-bottom: 65%;
	margin-bottom: 20px;
}

.store__desc {
	display: flex;
	justify-content: space-between;
}

.store__title {
	width: 80%;
	font-weight: 700;
}

.store__title span {
	opacity: 0.4;
}

.store__text {
	font-family: IBMPlexMono;
	font-size: 30px;
	font-weight: 700;
}

@media (min-width: 768px) {
	.store__wrapper {
		display: flex;
		flex-wrap: wrap;
		width: auto;
	}

	.store__slide {
		height: auto;
		padding-left: 10px;
		padding-right: 10px;
	}

	.store__swiper_btn {
		display: none;
	}
}




/* ===== tape ===== */

.tape {
	margin-bottom: 80px;
}

@media (min-width: 768px) {
	.tape {
		margin-bottom: 160px;
	}
}

@media (min-width: 1200px) {
	.tape {
		margin-bottom: 180px;
	}
}

.tape__row {
	display: flex;
	flex-wrap: wrap;
}

.tape__col {
	display: none;
	padding-right: 10px;
	padding-left: 10px;
}

@media (min-width: 768px) {
	.tape__col:nth-child(-n+4) {
		display: block;
		width: 50%;
	}
}

@media (min-width: 1200px) {
	.tape__col:nth-child(-n+4) {
		width: 20%;
	}

	.tape__col:nth-child(5) {
		display: block;
		width: 20%;
	}
}

.tape__item {
	margin-bottom: 20px;
}

.tape__wrap_img {
	position: relative;
	padding-bottom: 100%;
	margin-bottom: 20px;
}

.tape__desc {
	padding: 0 18px;
}

.tape__date {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	color: rgba(56, 54, 54, .4);
}

.tape__date span {
	margin-left: auto;
	color: #383636;
}

.heart__icon {
	width: 16px;
	height: 16px;
	margin-left: 4px;
	vertical-align: middle;
}

.tape__text {
	font-weight: 700;
}




/* video-carousel */

.video {
	margin-bottom: 80px;
}

@media (min-width: 768px) {
	.video {
		margin-bottom: 160px;
	}
}

@media (min-width: 1200px) {
	.video {
		margin-bottom: 230px;
	}
}

.video-carousel__item {
	position: relative;
	padding-bottom: 66.25%;
}

.video-carousel__item iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

@media (min-width: 768px) {
	.video__col_btn {
		display: flex;
		align-items: center;
		padding: 0;
	}

	.video__swiper_pagination {
		display: none;
	}
}




/* about */

.about {
	margin-bottom: 100px;
}

.about:after {
	content: " ";
	display: table;
	clear: both;
}

@media (min-width: 768px) {
	.about {
		margin-bottom: 160px;
	}
}

.about__col_2,
.about__col_3,
.about__col_6,
.about__col_7 {
	margin-bottom: 50px;
}

.title_2 {
	margin-bottom: 40px;
}

.title_3 {
	margin-bottom: 20px;
}

.about p {
	margin-bottom: 20px;
}



@media (min-width: 1200px) {
	.about {
		margin-bottom: 200px;
	}

	.about__col_1 {
		margin-bottom: 110px;
	}

	.about__col_2 {
		margin-bottom: 140px;
	}

	.title_2 {
		margin-bottom: 80px;
	}

	.about p {
		margin-bottom: 40px;
	}
}

.about__teach {
	padding-bottom: 15px;
}

.about__wrap_img {
	position: relative;
	padding-bottom: 100%;
	margin-bottom: 15px;
}

.about__name {
	font-weight: 700;
}

.about__list>li {
	margin-bottom: 18px;
}


@media (min-width: 768px) {
	.about__col_5 {
		margin-bottom: 40px;
	}

	.about__col_6 {
		margin-top: 40px;
	}

	.about__col_9 {
		position: relative;
		margin-right: auto;
		margin-left: auto;
		margin-top: 60px;
	}

	.about__col_9::before {
		content: " ";
		position: absolute;
		top: -40px;
		left: -5%;
		width: 110%;
		height: 90%;
		border: 1px solid #000;
		z-index: -1;
	}
}


@media (min-width: 1200px) {
	.about_float {
		display: block;
	}

	.about__col_5 {
		float: left;
		margin-top: 100px;
		margin-bottom: 80px;
	}

	.about__col_6 {
		float: right;
		margin-top: 100px;
		margin-bottom: 150px;
	}

	.about__col_7 {
		float: left;
		clear: left;
	}

	.about__col_8 {
		float: left;
		margin-bottom: 80px;
	}

	.about__col_8 img {
		margin-left: 24%;
	}

	.about__col_9 {
		margin-right: 8%;
		float: right;
	}

	.about__col_9::before {
		left: -18%;
		width: 130%;
	}
}





/* reviews */

.reviews {
	margin-bottom: 80px;
}

@media (min-width: 768px) {
	.reviews {
		margin-bottom: 160px;
	}
}

@media (min-width: 1200px) {
	.reviews {
		margin-bottom: 200px;
	}
}

.reviews__row {
	align-items: center;
}

.reviews__col_img {
	display: none;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.reviews__col_img {
		display: block;
	}
}

@media (min-width: 1200px) {
	.reviews__col_img {
		margin-bottom: 0;
	}
}

.reviews__bg_cover {
	padding-bottom: 100%;
	background: no-repeat center / cover;
}


.reviews__col_text {
	margin-bottom: 20px;
	background: url('../img/bg_reviews.jpg') no-repeat center/ contain;
}

.reviews__text {
	display: none;
}


/* reviews-carousel */

.reviews__wrap_img {
	position: relative;
	display: block;
	width: 100%;
	padding-bottom: 100%;
}

@media (min-width: 768px) {
	.rewiews__swiper_btn {
		position: absolute;
		right: 0;
		top: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: 50%;
		background-color: #fff;
		z-index: 2;
		transform: translate(100%, -50%);
	}
}

@media (min-width: 1200px) {
	.reviews__wrap_swiper {
		position: relative;
		padding-bottom: 100%;
	}

	.reviews__swiper {
		position: absolute;
		height: 100%;
		width: 100%;
		-o-object-fit: cover;
		   object-fit: cover;
		font-family: 'object-fit: cover;';
	}

	.swiper-slide {
		height: calc((100% - 20px) / 2);
	}

	.rewiews__swiper_btn {
		top: auto;
		bottom: 0;
		transform: translateX(0);
	}
}





/* footer */

.footer {
	color: #fff;
	padding: 30px 0;
	background-color: #373636;
}


.footer__col_nav {
	margin-bottom: 20px;
}

.footer__item li {
	margin-bottom: 10px;
}

@media (min-width: 768px) {
	.footer__item {
		display: flex;
		flex-wrap: wrap;
	}

	.footer__item li {
		margin-bottom: 5px;
	}
}

@media (min-width: 1200px) {
	.footer__col_nav {
		margin-left: auto;
		margin-bottom: 0;
	}
}

.footer__item span {
	margin-right: 20px;
}

@media (pointer: fine),
(min-width:0\0) {
	.footer__item a:hover {
		color: rgba(255, 255, 255, .4);
	}
}

.footer__item a:active {
	color: rgba(255, 255, 255, .7);
}

.footer__nav {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	justify-content: center;
	color: rgba(255, 255, 255, .4);
}

.footer__nav li {
	margin-left: 20px;
}

.footer span {
	color: rgba(255, 255, 255, .4);
}

@media (pointer: fine),
(min-width:0\0) {
	.footer__nav a:hover {
		color: #ffffff;
	}
}

.footer__nav a:active {
	color: #cecece;
}


.footer__socials {
	display: flex;
	justify-content: center;
}

@media (min-width: 1200px) {
	.footer__socials {
		justify-content: end;
	}
}

.footer__socials li:not(:last-child) {
	margin-right: 20px;
}

.footer__socials a {
	display: block;
	padding: 6px;
	color: #000;
	background: #fff;
	border: 1px solid #fff;
	transition: .1s ease 0s;
}

@media (pointer: fine),
(min-width:0\0) {
	.footer__socials a:hover {
		color: #fff;
		background: #000;
	}
}

.footer__socials a:active {
	background-color: #3a3a3a;
}

.footer__socials svg {
	display: block;
	width: 26px;
	height: 26px;
}




/* ====  modal ===== */

.hidden {
	display: none
}

.no-scroll {
	overflow-y: auto !important;
}

.has-dialog {
	overflow: hidden;
}


/* modal backdrop */

.dialog-backdrop {
	display: none;
	position: fixed;
	z-index: 100;
	overflow-y: auto;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.3);
}

.dialog-backdrop.active {
	display: block;
}

/* modal window */

[role="dialog"] {
	position: absolute;
	top: 2rem;
	left: 50%;
	transform: translateX(-50%);
	padding-bottom: 30px;
	min-width: calc(100% - (15px * 2));
}

@media screen and (min-width: 640px) {
	[role="dialog"] {
		min-width: calc(640px - (15px * 2));
	}
}

.modal__content {
	padding: 15px;
	border: 1px solid #000;
	background-color: #fff;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.12), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.modal__content:after {
	content: " ";
	display: table;
	clear: both;
}

.modal__col_img {
	float: left;
	padding-right: 20px;
	padding-bottom: 10px;
}

.modal__wrap_img {
	position: relative;
	padding-bottom: 100%;
}

.teach__name_modal {
	font-size: 20px;
	font-weight: 700;
}

.modal_close {
	text-align: right;
}





/* ===== article ===== */

.art {
	padding: 40px 0;
}

.art__control {
	margin-bottom: 20px;
}

.art__control span {
	display: block;
	margin-top: 10px;
	color: rgba(56, 54, 54, 1);
	font-weight: 700;
}

.art__btn_prev,
.art__btn_next {
	display: block;
	width: 100%;
	height: auto;
	padding: 10px 0px 10px 70px;
	margin-bottom: 20px;
	text-align: left;
	color: rgba(56, 54, 54, .4);
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: top 10px left 5px;
	transition: .2s ease 0s;
}


@media (min-width: 768px) {
	.art {
		padding: 60px 0;
	}

	.art__control {
		display: flex;
	}

	.art__btn_prev,
	.art__btn_next {
		background-size: 52px;
		margin-bottom: 40px;
	}
}

@media (min-width: 1200px) {
	.art {
		padding: 80px 0;
	}

	.art__control {
		display: block;
	}
}


.art__date {
	flex-shrink: 0;
	margin-bottom: 10px;
	padding-right: 20px;
	padding-top: 5px;
}

.art__title {
	font-family: IBMPlexMono;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	margin-bottom: 25px;
}

.art__img {
	width: 100%;
	margin-bottom: 40px;

}

.art p:not(:last-child) {
	margin-bottom: 20px;
}


@media (min-width: 768px) {
	.art__wrap_title {
		display: flex;
	}

	.art__title {
		font-size: 30px;
	}
}

@media (min-width: 1200px) {
	.art__col_swiper {
		margin-left: 4.16667%;
	}


	.art p:not(:last-child) {
		margin-bottom: 40px;
	}
}


.art__text_span {
	display: block;
	font-weight: 700;
}

.art ol {
	list-style-position: inside;
}